
@font-face {
  font-family: "Phosphor-Bold";
  font-display: swap;
  src: url('../fonts/Phosphor-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Phosphor-Fill";
  font-display: swap;
  src: url('../fonts/Phosphor-Fill.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Phosphor";
  font-display: swap;
  src: url('../fonts/Phosphor.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.ph-bold {
  font-family: "Phosphor-Bold" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ph-bold.ph-arrow-down:before { content: "\e03e"; }
.ph-bold.ph-arrow-right:before { content: "\e06c"; }
.ph-bold.ph-barbell:before { content: "\e0b6"; }
.ph-bold.ph-caret-down:before { content: "\e136"; }
.ph-bold.ph-chart-line-up:before { content: "\e156"; }
.ph-bold.ph-check:before { content: "\e182"; }
.ph-bold.ph-check-circle:before { content: "\e184"; }
.ph-bold.ph-cube:before { content: "\e1da"; }
.ph-bold.ph-drop:before { content: "\e210"; }
.ph-bold.ph-fire:before { content: "\e242"; }
.ph-bold.ph-gear:before { content: "\e270"; }
.ph-bold.ph-gender-female:before { content: "\e6e0"; }
.ph-bold.ph-graduation-cap:before { content: "\e62c"; }
.ph-bold.ph-list:before { content: "\e2f0"; }
.ph-bold.ph-magnifying-glass-plus:before { content: "\e310"; }
.ph-bold.ph-person-simple-walk:before { content: "\e73a"; }
.ph-bold.ph-star:before { content: "\e46a"; }
.ph-bold.ph-student:before { content: "\e73e"; }
.ph-bold.ph-target:before { content: "\e47c"; }
.ph-bold.ph-user:before { content: "\e4c2"; }
.ph-bold.ph-video-camera:before { content: "\e4da"; }
.ph-bold.ph-whatsapp-logo:before { content: "\e5d0"; }
.ph-bold.ph-x:before { content: "\e4f6"; }
.ph-bold.ph-x-circle:before { content: "\e4f8"; }

.ph-fill {
  font-family: "Phosphor-Fill" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ph-fill.ph-arrow-down:before { content: "\e03e"; }
.ph-fill.ph-arrow-right:before { content: "\e06c"; }
.ph-fill.ph-barbell:before { content: "\e0b6"; }
.ph-fill.ph-caret-down:before { content: "\e136"; }
.ph-fill.ph-chart-line-up:before { content: "\e156"; }
.ph-fill.ph-check:before { content: "\e182"; }
.ph-fill.ph-check-circle:before { content: "\e184"; }
.ph-fill.ph-cube:before { content: "\e1da"; }
.ph-fill.ph-drop:before { content: "\e210"; }
.ph-fill.ph-fire:before { content: "\e242"; }
.ph-fill.ph-gear:before { content: "\e270"; }
.ph-fill.ph-gender-female:before { content: "\e6e0"; }
.ph-fill.ph-graduation-cap:before { content: "\e62c"; }
.ph-fill.ph-list:before { content: "\e2f0"; }
.ph-fill.ph-magnifying-glass-plus:before { content: "\e310"; }
.ph-fill.ph-person-simple-walk:before { content: "\e73a"; }
.ph-fill.ph-star:before { content: "\e46a"; }
.ph-fill.ph-student:before { content: "\e73e"; }
.ph-fill.ph-target:before { content: "\e47c"; }
.ph-fill.ph-user:before { content: "\e4c2"; }
.ph-fill.ph-video-camera:before { content: "\e4da"; }
.ph-fill.ph-whatsapp-logo:before { content: "\e5d0"; }
.ph-fill.ph-x:before { content: "\e4f6"; }
.ph-fill.ph-x-circle:before { content: "\e4f8"; }

.ph {
  font-family: "Phosphor" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ph.ph-arrow-down:before { content: "\e03e"; }
.ph.ph-arrow-right:before { content: "\e06c"; }
.ph.ph-barbell:before { content: "\e0b6"; }
.ph.ph-caret-down:before { content: "\e136"; }
.ph.ph-chart-line-up:before { content: "\e156"; }
.ph.ph-check:before { content: "\e182"; }
.ph.ph-check-circle:before { content: "\e184"; }
.ph.ph-cube:before { content: "\e1da"; }
.ph.ph-drop:before { content: "\e210"; }
.ph.ph-fire:before { content: "\e242"; }
.ph.ph-gear:before { content: "\e270"; }
.ph.ph-gender-female:before { content: "\e6e0"; }
.ph.ph-graduation-cap:before { content: "\e62c"; }
.ph.ph-list:before { content: "\e2f0"; }
.ph.ph-magnifying-glass-plus:before { content: "\e310"; }
.ph.ph-person-simple-walk:before { content: "\e73a"; }
.ph.ph-star:before { content: "\e46a"; }
.ph.ph-student:before { content: "\e73e"; }
.ph.ph-target:before { content: "\e47c"; }
.ph.ph-user:before { content: "\e4c2"; }
.ph.ph-video-camera:before { content: "\e4da"; }
.ph.ph-whatsapp-logo:before { content: "\e5d0"; }
.ph.ph-x:before { content: "\e4f6"; }
.ph.ph-x-circle:before { content: "\e4f8"; }
