
@font-face {
  font-family: "Phosphor-Bold";
  font-display: swap;
  src: url('../fonts/Phosphor-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Phosphor-Fill";
  font-display: swap;
  src: url('../fonts/Phosphor-Fill.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Phosphor";
  font-display: swap;
  src: url('../fonts/Phosphor.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
